<% provide(:title, "Help") %>
<!DOCTYPE html>
<h1>Help</h1>
<p>Get help on RoR at <a href="http://www.railstutorial.org/help">Rails help page</a>. This is <em>Ruby on Rails Tutorial</em>book</a>.
</p>
